{% extends 'base.html' %}
{% block content %}
<div class="row">
                    <div class="col-sm-12">
                        <div class="card ">
                            <div class="card-body ">
                                <form method="post" action="{% url 'update_plan' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div class="col-12">
                                            <h5 class="form-title"><span>Edit Plan Details</span></h5>
                                        </div>


                                        {% for i in plan %}
                                        <div class="col-sm-11">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" name="name" value="{{ i.name }}" required>
                                                <input type="text" class="form-control" name="plan_id" value="{{ i.id }}" >
                                            </div>
                                        </div>

                                        <div class="col-sm-11">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description"  required>{{ i.description }}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-11">
                                            <div class="form-group">
                                                <label>Image</label>
                                                <input type="file" class="form-control" name="photo" required>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>
                                {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}