{% load active_link_tags %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == '1' %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>

                    <li>
                        <a href="{% url 'add_tender' %}"><i class="fas fa-info"></i> <span>Add Tender</span></a>
                    </li>

                    <li class="submenu {% active_link 'admin_view_application' 'active' %} {% active_link 'admin_application_status' 'active' %}">
                        <a href="#"><i class="fas fa-paper-plane"></i> <span> Applications</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'admin_view_application' %}">Requests</a></li>
                            <li><a href="{% url 'admin_application_status' %}">History & Status</a></li>
                        </ul>
                    </li>

                    <li class="submenu {% active_link 'view_contractor' 'active' %} {% active_link 'view_contractor' 'active' %}">
                        <a href="#"><i class="fas fa-user-astronaut"></i> <span> Contractor</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'view_regd_contractor' %}">Registered</a></li>
                            <li><a href="{% url 'view_approved_contractor' %}">Approved</a></li>
                        </ul>
                    </li>

                    <li class="submenu {% active_link 'view_plan' 'active' %} {% active_link 'add_plan' 'active' %}">
                        <a href="#"><i class="fas fa-building"></i> <span> Plans</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'view_plan' %}">View</a></li>
                            <li><a href="{% url 'add_plan' %}">Add</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'doLogout' %}"><i class="fas fa-sign-out-alt"></i> <span>LogOut</span></a>
                    </li>
                </ul>
            {% elif user.user_type == '2' %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu - Contractor</span>
                    </li>

                    <li class="submenu {% active_link 'contractor_view_application' 'active' %} {% active_link 'contractor_application_status' 'active' %}">
                        <a href="#"><i class="fas fa-paper-plane"></i> <span> Works</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'contractor_view_application' %}">View Requests</a></li>
                            <li><a href="{% url 'contractor_application_status' %}">History & Status</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'doLogout' %}"><i class="fas fa-sign-out-alt"></i> <span>LogOut</span></a>
                    </li>
                </ul>

            {% else %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu - Users</span>
                    </li>

                    <li class="submenu {% active_link 'add_application' 'active' %} {% active_link 'application_status' 'active' %}">
                        <a href="#"><i class="fas fa-paper-plane"></i> <span> Plans</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_application' %}">View</a></li>
                            <li><a href="{% url 'application_status' %}">History & Status</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'user_view_plan' %}"><i class="fas fa-building"></i> <span>Plans</span></a>
                    </li>

                    <li>
                        <a href="{% url 'doLogout' %}"><i class="fas fa-sign-out-alt"></i> <span>LogOut</span></a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>